/*main eliment styles*/
html{
	min-height: 100%;
	position: relative;
}

body{
	font-family: Helvetica;
}

footer{
	background-color: darkkhaki;
	position:absolute;
	bottom: 0;
	overflow: hidden;
    width: 80%;
}

/*standdard eliment styles*/
ul{
	list-style: none;
}

ul li{
	display: inline-block;
}

/*specific selectors*/
#wrapper {
	width: 80%;
	height: 100%;
	background-color: #f7f7f7;
	margin: 0 auto;
}
